
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

.core-background, .top-sub-section{
    width: 95%;
    display: flex;
    height: 40vh;
    margin: 20px;
    background-color: blueviolet;
    border-radius: 20px;
}

.core-background {
    background-color: transparent;
    height: 100vh;
    background-image: url(./assets/conference_2_no_bg_second.png);
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.starter-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.test-element{
    display: flex;
    padding: 10px;
    color: azure;
    background-color: blueviolet;
    border: hidden;
    border-radius: 10px;
    width: 500px;
}
.some-space {
    display: flex;
    width: 100vw;
    height: 100vh;
}