
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

.core-background, .top-sub-section, .overhead-background{
    width: 95%;
    display: flex;
    height: 40vh;
    margin: 20px;
    border-radius: 20px;
}

.core-background {
    height: 50vh;
    background-image: url(./assets/conference\ 2.jpg);
    background-position-y: bottom;
}
.starter-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.overhead-background{
    z-index: 1;
    height: 95vh;
    background-image: url(./assets/conference_2_no_bg.png);
    background-position-y: bottom;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 95%;
    position: absolute;
    background-color: transparent;
}
.starter-section>.more-info{
    background-color: rgba(8, 30, 56, 0.733);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    max-width: 90vh;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    padding: 10px;
    z-index: 2;
}

.test-element{
    display: flex;
    padding: 10px;
    color: azure;
    background-color: blueviolet;
    border: hidden;
    border-radius: 10px;
    width: 500px;
}
.some-space {
    display: flex;
    width: 100vw;
    height: 100vh;
}