.test-element{
    display: flex;
    padding: 10px;
    color: azure;
    background-color: blueviolet;
    border: hidden;
    border-radius: 10px;
    width: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.some-space {
    display: flex;
    width: 100vw;
    height: 100vh;
}